@font-face {
  font-family: "Metropolis-Bold";
  src: url(fonts/Metropolis-Bold.otf);
}
@font-face {
  font-family: "Metropolis-Regular";
  src: url(fonts/Metropolis-Regular.otf);
}
@font-face {
  font-family: "Metropolis-Thin";
  src: url(fonts/Metropolis-Thin.otf);
}
@font-face {
  font-family: "Metropolis-Medium";
  src: url(fonts/Metropolis-Medium.otf);
}
@font-face {
  font-family: "Metropolis-Light";
  src: url(fonts/Metropolis-Light.otf);
}
html{scroll-behavior: smooth;}

body{font-family: "Metropolis-Regular"; background: #fff; color: #101010; line-height:28px }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{ font-family:"Metropolis-Regular";margin-bottom:1rem }

h1{font-size: 42px;}
h2{font-size: 32px; font-family:"Metropolis-Regular"  }
h3{font-size: 21px;  }
h4{font-size: 19px; font-family:"Metropolis-Medium" }
p{font-size: 18px;  font-family:"Metropolis-Light" }
.header-heading h1{font-size: 26px;text-transform: uppercase; color: #fff;}
.header-heading h5{color: #0077c7;font-size: 15px}
.header-heading ul{list-style: none;font-size: 12px;padding: 0;}
.header-heading ul li{line-height:1.6; color:#fff}
.fa-check{color: #FFCB57;}
.grey-section{background-color: #F8F8FA }
.clearfix {
	overflow: auto;clear: both;
 }
.clearfix::after {
	content: "";
	clear: both;
	display: table;
 }
/* carousel */
/* 
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	height: 119px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
 background: #2aa9e4 !important;
 color: inherit;
 border: none;
 padding: 0 !important;
font-size: 46px;
border-radius: 25px;
 }

 .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{font-size:12px}



.owl-next{
float: right;
background: blueviolet;
padding: 5px;
height: 30px;
width: 30px;
color: #fff;
font-size: 46px;
border-radius: 25px;
position: absolute;
 top: 40%;
 right: 10px;
}

.owl-prev{
left: 0;
float: left;
background: blueviolet;
padding: 5px;
height: 30px;
width: 30px;
color: #fff;
font-size: 46px;
border-radius: 25px;
position: absolute;
top: 40%;
left: 10px;
}
.owl-nav button span{font-size: 25px;color: #fff;} */

/* elastic carousel for owl-carousel */
.card-carousel{
	width: 100%;
	/* height: 300px; */
	background-color:#F8F8FA;
	color: #000;
	margin: 0 5px;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.card-body p{font-size: 12px; line-height: 1.3;}
.card-footer{background: #fff;color: black;}

header{background: #101010}
 .svg-separator {position:absolute;width:100%;height: 20px;bottom: 0;left: 0;display: flex;justify-content: center;flex-direction: column;z-index: 1;}
 .media-img img{width: 65px;height: 65px;}
 .media-body h5{font-size: 14px;}
.media-pera p{font-size: 12px; font-style: italic;}

section.banner{display: block;background: url(images/bg-banner.png)no-repeat ; background-size:cover;}
section{padding-top: 60px; padding-bottom: 100px}
.carousel-control-next-icon, .carousel-control-prev-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: 50%/100% 100% no-repeat;
}
.section-heading{}
.checked{color: #FFCB57}
.font-blue{color: #408bcd; font-family:"Metropolis-Light"}
.font-red{color:#fe0202;}
.font-light{font-family: "Metropolis-Light" !important;}
.parallax-section{color: #FFFEFE;}
.btn-joinus{
	padding: 5px 10px;
	line-height: 30px; 
	font-family:  "Metropolis-Regular";
	justify-content: left;
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01a6e6+0,01a0e2+22,0180cd+71,0077c7+93,0471c3+100 */
border:none;color:#fff;background: #01a6e6; /* Old browsers */
background: -moz-linear-gradient(top,  #01a6e6 0%, #01a0e2 22%, #0180cd 71%, #0077c7 93%, #0471c3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #01a6e6 0%,#01a0e2 22%,#0180cd 71%,#0077c7 93%,#0471c3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #01a6e6 0%,#01a0e2 22%,#0180cd 71%,#0077c7 93%,#0471c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a6e6', endColorstr='#0471c3',GradientType=0 ); /* IE6-9 */

}

/*Stepper*/
.md-stepper-horizontal {display:table;width:100%;margin:0 auto;background-color:#FFFFFF;/*box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);*/
}
.md-stepper-horizontal .md-step {display:table-cell;position:relative;padding:24px;}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {background-color:rgba(0,0,0,0.04);}
.md-stepper-horizontal .md-step:active {border-radius: 15% / 75%;}
.md-stepper-horizontal .md-step:first-child:active {border-top-left-radius: 0;border-bottom-left-radius: 0;}
.md-stepper-horizontal .md-step:last-child:active {border-top-right-radius: 0;border-bottom-right-radius: 0;}
.md-stepper-horizontal .md-step:hover .md-step-circle {background-color:#757575;}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {display:none;}
.md-stepper-horizontal .md-step .md-step-circle {width:30px;height:30px;margin:0 auto;background-color:#999999;
	border-radius: 50%;text-align: center;line-height:30px;font-size: 16px;	font-weight: 600;color:#FFFFFF;}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal .md-step .stepperonetofour span{font-size: 30px}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:#000;
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:18px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:#000;
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:35px;
	height:1px;
	border-top:3px solid #0093DB;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:40px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:40px;
}
.md-step-optional h6{
	font-family: "Metropolis-Light";
}

.widget-section{margin-bottom:30px}
.widget-section img{margin-bottom:25px;height: 50px }
.widget-section h4{font-family: "Metropolis-Medium";}
.widget-section ul{padding:0px 0px 0px 15px}
.widget-section ul li{ font-family:  "Metropolis-Light" }

footer{ padding: 25px 0px}

.head_fixed{
	position: fixed;
	width: 100%;
	z-index: 999;
}

#toTop {
	padding: 5px 3px;
	background: #000;
	color: #ff0000;
	position: fixed;
	bottom: 0;
	right: 5px;
	z-index: 999;
}

/* top bittion*/
.back-to-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	/* display: none; */
}
.btn-top{
	background-color: #2aa9e4;
}
.btn-top:hover{
	background: linear-gradient(to bottom,  #01a6e6 0%,#01a0e2 22%,#0180cd 71%,#0077c7 93%,#0471c3 100%);
}

.dark-section {
	background-color: #101010;
	color: #fff;
}

.fa-angle-up{
	color: #fff;
}

/* faq section */
panel-default{margin-bottom: 10px}
.faq_content2 .card-header a:before {
  content: '-';
  float: left;
  justify-content: center;
  height: 40px;
    width: 40px;
    background: linear-gradient(to bottom,  #01a6e6 0%,#01a0e2 22%,#0180cd 71%,#0077c7 93%,#0471c3 100%);
    border-radius: 25px;
    padding: 11px 15px;
	 color: #fff;
}

/* carousel */
.card-footer {
	padding: .75rem 0.2rem;}
.card-header {
  font-size: 16px; padding: 21px 21px 0 21px;margin-bottom: 0; background-color: transparent; border-bottom: transparent;
}
.rec.rec-arrow{
	color: #fff;
	background: linear-gradient(to bottom,  #01a6e6 0%,#01a0e2 22%,#0180cd 71%,#0077c7 93%,#0471c3 100%);
}
.rec.rec-dot{
	display: none;
}

.card {position: relative;display: -ms-flexbox; display: flex; -ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;
     background-color: transparent;
     background-clip: border-box;
     border: none;
     border-radius: .25rem;
}
.faq_content2 .card-header a.collapsed:before {
    content: '+';
    height: 40px;
    width: 40px;
    background: linear-gradient(to bottom,  #01a6e6 0%,#01a0e2 22%,#0180cd 71%,#0077c7 93%,#0471c3 100%);
    border-radius: 25px;
    padding: 11px 15px;
    text-decoration: none;
    color: #fff;
}
.card-header a {
    color: #000!important;
    text-decoration: none;
}
.paddingfaq{
	padding-top: 100px;
	}

	.font-faq{
		font-weight: 600;
	}

	

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {padding-right: 1rem;padding-left: 1rem;}

}
@media only screen and (min-width: 768px) {
	
 } 
 @media only screen and (max-width: 767px) { 
	section {	
		padding-top:40px;	
		padding-bottom:50px;
  }
  .btn-joinus{margin: 0 auto;display: block;}
	
}
@media only screen and (max-width: 600px) {
	.logo{height: 60px;}
	.font-blue-num{font-size: 26px;font-weight:700;color: #408bcd; font-family:"Metropolis-Light"}
 }
 
 @media only screen and (min-width: 600px) {
	.logo{height: 100px;}
 }

 @media only screen and (min-width: 360px){
	.header-heading h1 {
		font-size: 21px;
		text-transform: uppercase;
		color: #fff;
		justify-content: center;
  }
  .header-heading h5 {
	color: #fff;
	font-size: 14px;
}
 }
  
 /* @media only screen and (max-width: 600px) {
	.paddingfaq{
	 padding-top: 50px;
	 }
 } */

 